body {
    background-color: #9BA4B5;
}
main {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
.sobre-mim {
    background-color: rgb(238, 230, 238);
    padding: 10px 60px;
    border-radius: 5px;
    margin-top: 50px;
    height: 200px;
    text-align: justify;
}
h2{
    text-align: center;
}
figure {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.detalhes>span {
    display: block;
    margin-top: 3px;
}
.detalhes {
    padding: 6px 60px;
    border-radius: 5px;
    margin-top: 54px;
    height: 200px;
    border: 1px solid black;
}
.detalhes2 {
    padding: 2px 60px;
}
.btn{
    margin-top: 50px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color:  rgb(238, 230, 238);
    border:  rgb(238, 230, 238);

}
section{
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
}